div#indexBody {
    height: 100vh;
    background-image: url("/static/techstore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    background-color: black;
    color: white;
}